<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <script th:src="@{https://kit.fontawesome.com/9f795c2c0d.js}" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<header class="site-navbar">
  <div class="site-navbar-top">
    <div class="container">
      <div style="display:flex">
        <div class="search col-md-3 padding-15rf">
          <form action="">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="" id="" placeholder="Search">
          </form>
        </div>
        <div class="logo col-md-3 text-center padding-15rf">
          <a th:href="@{index}">Shoppers</a>
        </div>
        <div class="info col-md-3 text-right padding-15rf">
          <div class="info-icon">
            <ul>
              <li><a th:href="@{sign-in}"><i class="fa-solid fa-user"></i></a></li>
              <li><a th:href="@{account-info}"><i class="fa-regular fa-heart"></i></a></li>
              <li><a th:href="@{cart}" class="shopping"><i class="fa-solid fa-cart-shopping"></i> <span>2</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-navigation">
    <div class="container">
      <ul class="site-menu text-center">
        <li><a th:href="@{index}">Home</a></li>
        <li><a th:href="@{shop}">Shop</a></li>
        <li class="has-child">
          <a th:href="@{shop}">product</a>
          <ul class="dropdown">
            <li><a th:href="@{/men}">For Men</a></li>
            <li><a th:href="@{/children}">For Children</a></li>
            <li><a th:href="@{/women}">For Women</a></li>
          </ul>
        </li>
        <li><a th:href="@{about}">About Us</a></li>
        <li><a th:href="@{contact}">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="site-heading">
  <div class="heading-container">
    <div class="content">
      <a th:href="@{index}">Home</a>
      <span>/</span>
      <strong>Shop</strong>
    </div>
  </div>
</div>

<div class="site-section-product">
  <div class="product-container">
    <div class="product-content">
      <div class="content-left">
        <div class="content-category">
          <h3>Category</h3>
          <ul>
            <li>
              <a th:href="@{/men}">
                <span>Men</span>
                <span class="ml-auto">(2k)</span>
              </a>
            </li>
            <li>
              <a th:href="@{/women}">
                <span>Women</span>
                <span class="ml-auto">(2k)</span>
              </a>
            </li>
            <li>
              <a th:href="@{/children}">
                <span>Children</span>
                <span class="ml-auto">(2k)</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content-category-info">
          <div class="info-prize">
            <h3>Filter by price</h3>
            <div class="price-bar">
              <div class="bar-rage"></div>
              <span></span>
              <span></span>
            </div>
            <input type="text">
          </div>
          <div class="info-size">
            <h3>Size</h3>
            <label for="">
              <input type="checkbox" name="" id="checksmall">
              <span>Small ()</span>
            </label>
            <label for="">
              <input type="checkbox" name="" id="">
              <span>Medium ()</span>
            </label>
            <label for="">
              <input type="checkbox" name="" id="">
              <span>Large ()</span>
            </label>
          </div>
          <div class="info-color">
            <h3>Color</h3>
            <a href="">
              <span style="background-color: red;"></span>
              <span>Red ()</span>
            </a>
            <a href="">
              <span style="background-color: green;" ></span>
              <span>Green ()</span>
            </a>
            <a href="">
              <span style="background-color: blue;"></span>
              <span>Blue ()</span>
            </a>
            <a href="">
              <span style="background-color: purple;"></span>
              <span>Purple ()</span>
            </a>
          </div>
        </div>
      </div>
      <div class="content-right">
        <div class="content-right-heading">
          <div class="heading-left">
            <h2>Shop all</h2>
          </div>
          <div style="display: flex;">
            <div class="heading-right">
              <button class="btn-js" style="cursor: pointer">Latest</button>
              <div class="latest-dropdown">
                <a th:href="@{/men}">Men</a>
                <a th:href="@{/women}">Women</a>
                <a th:href="@{/children}">Children</a>
              </div>
            </div>
            <div class="reference">
              <button>reference</button>
            </div>
          </div>
        </div>
        <div class="content-right-main" th:if="${shop.size() !=0}">
            <div class="main-list-items">
              <div class="main-item" th:each="product: ${shop}" >
                <div class="" style="box-shadow: 0 0 30px -10px rgb(0 0 0 / 10%);background: #fff;text-align: center;border: 1px solid #dee2e6">
                  <figure class="" style="display: block;margin-bottom: 16px">
                    <a href=""><img style="max-width: 100%;height: auto;" th:src="${product.urlImage}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div style="padding: 24px;text-align: center!important;">
                    <h3 style="font-size: 20px;font-weight: 500;color:#8c92a0;line-height: 1.2;"><a th:text = "${product.name}"></a></h3>
                    <p style="color: #7971ea!important;font-weight: 700!important;margin-bottom: 16px" th:utext ="${product.price}"></p>
                    <a th:href="@{product-detail(id=${product.id})}"><button class="more" type="button" style=" padding: 8px;cursor:pointer;background-color: #7971ea;border: none;color: #fff;width: 50%;">More</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="page-next-pre">
          <div class="page-np-container">
            <div class="site-page-np">
              <ul>
                <li><a th:if="${hasPre}" th:href="@{${key}(page=${page - 1}, size=9)}">&lt;</a></li>
                <li><a th:if="${hasNext}" th:href="@{${key}(page=${page+1}, size=9)}">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
</div>
<div class="site-section-collection">
  <div class="collection-heading-shop">
    <div class="heading-content-shop">
      <h2>Category</h2>
    </div>
  </div>
  <div class="collection-container">
    <div class="collection-items">
      <a th:href="@{/women}">
        <img src="image/women.jpg" alt="Women" >
        <div class="text">
          <span>Collection</span>
          <h3>Women</h3>
        </div>
      </a>
    </div>
    <div class="collection-items">
      <a th:href="@{/children}">
        <img src="image/children.jpg" alt="Children">
        <div class="text">
          <span>Collection</span>
          <h3>Children</h3>
        </div>
      </a>
    </div>
    <div class="collection-items">
      <a th:href="@{/men}">
        <img src="image/men.jpg" alt="Men">
        <div class="text">
          <span>Collection</span>
          <h3>Men</h3>
        </div>
      </a>
    </div>
  </div>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-container-main">
      <div class="footer-naviga">
        <div class="naviga-heading">
          <h2>Navogation</h2>
        </div>
        <div class="naviga-list-items">
          <div class="nav-item">
            <ul>
              <li><a href="">Sell online</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">Shopping cart</a></li>
              <li><a href="Store builder"></a></li>
            </ul>
          </div>
          <div class="nav-item">
            <ul>
              <li><a href="">Mobile commerce</a></li>
              <li><a href="">Dropshipping</a></li>
              <li><a href="">Website development</a></li>
            </ul>
          </div>
          <div class="nav-item">
            <ul>
              <li><a href="">Point of sale</a></li>
              <li><a href="">Hardware</a></li>
              <li><a href="Sofware"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-promo">
        <div class="promo-heading">
          <h2>Promo</h2>
        </div>
        <a href="#">
          <img src="./img/hero_1.jpg" alt="">
          <h3>Finding Your Perfect Shoes</h3>
          <p>Promo from. January 14-30,2023</p>
        </a>
      </div>
      <div class="footer-contact">
        <div class="contact-info">
          <div class="contact-info-heaing">
            <h2>Contact Info</h2>
          </div>
          <div class="contact-content">
            <ul>
              <li>
                <i class="fa-solid fa-location-dot"></i>
                203 Fake St. Mountain View, San Francisco, California, USA
              </li>
              <li>
                <i class="fa-solid fa-phone"></i>
                <a href="#">+2 392 3929 210</a>
              </li>
              <li>
                <i class="fa-solid fa-envelope"></i>
                emailaddress@domain.com
              </li>
            </ul>
          </div>
        </div>
        <div class="contact-sub">
          <form action="#" method="post">
            <label>Subscribe</label>
            <div class="form-group">
              <input type="text" name="email" id="Email"  placeholder="Email">
              <input type="submit" name="send" id="Send" value="SEND">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="coppy-r">
    <p>Copyright @2023 All rights reserved</p>
  </div>
</footer>
</body>
<script>
  const btn = document.querySelector(".btn-js");
  const dropdown = document.querySelector(".latest-dropdown")
  function myfuncion(){
    dropdown.classList.toggle("js-display-block");
  }
  btn.addEventListener("click",myfuncion);
  window.onclick = function(event){
    if(!event.target.matches(".btn-js")){
      var dropdowns = document.getElementsByClassName("latest-dropdown")
      for(var i=0; i<dropdowns.length;i++){
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('js-display-block')) {
          openDropdown.classList.remove('js-display-block');
        }
      }
    }
  }
  const check1= document.getElementById("checksmall");
  if(check1.checked == true){

  }
</script>
</html>